.bg-dark {
  background: var(--bs-body-bg) !important;
}
.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important;
}

.q-body--prevent-scroll {
  position: unset !important;
}

body {
  font-size: unset;
}

.hidden {
  display: unset !important;
}