.row {
  margin: 0;
}

.col, .col-auto {
  padding: 0;
}

.row + .row {
  margin: 0;
}

:deep(.q-checkbox>*) {
  width: auto;
  padding-right: unset;
  padding-left: unset;
}


:deep(.q-tab__content>*) {
  flex-shrink: unset;
}

:deep(.q-tabs>*) {
  width: auto;
  padding-right: unset;
  padding-left: unset;
}

:deep(.q-space) {
  width: auto;
}


:deep(.q-splitter) {
  padding-right: unset;
  padding-left: unset;
}

:deep(.q-splitter>*) {
  width: 1px;
  padding-right: unset;
  padding-left: unset;
}

:deep(.row) {
  margin: 0;
  --bs-gutter-x: unset;
  --bs-gutter-y: unset;
}

:deep(.col, .col-auto) {
  padding: 0;
}

:deep(.row + .row) {
  margin: 0;
}

.bg-dark {
  background: unset;
}

:deep(input:not([type=range])) {
  background-color: unset;
  border-color: unset;

  &:focus {
    border-color: unset;
    background-color: unset;
    box-shadow: unset;
  }
}

:deep(.hidden) {
  display: none !important;
}

:deep(.q-field__append) {
  width: auto;
}
:deep(.q-chip) {
  width: auto;
}

@media (min-width: 0) {
  :deep(.col,.col-xs) {
    flex: 10000 1 0
  }
}